
.domain-list {
  .domain-list-title {
    padding: 5px 0px;
    font-weight: bold;
    vertical-align: text-bottom;
    border-bottom: 2px solid #777;
    span {
      display: table-cell;
      vertical-align: middle;
      line-height: 30px;
    }
  }

  .domain-item {
    vertical-align: text-bottom;
    border-bottom: 1px solid #777;
    padding: 5px 0px;

    &.domain-action-type-marathon {
      background: #5D6A64;
    }

    &.domain-action-type-domain {
      background: #5D6A64;
    }

    &.domain-action-type-default {
      background: #396F2D;
    }

    .item-actions {
      text-align: right;

      .item-actions-group {
        float: right;
      }

      .btn-danger {
        background: #CF055C;
      }

      .btn-default {
        background: #A8DCA8;
        border-color: #A8DCA8;
      }
    }

    i.message {
      font-size: 11px;
      font-style: normal;
    }

    .btn {
      &.btn-danger, &.btn-create-domain {
        margin-left: 10px;
      }
    }

    .col-instances-count {}

    span {
      display: table-cell;
      vertical-align: middle;
      line-height: 30px;
    }
  }
}