.navbar-bamboo {
  background: #3AB54A;
  border-radius: 0px;
  border-bottom: 3px #8DC53E solid;

  .navbar-brand {
    color: white;
  }

  .btn-create-domain {
    float: right;
    margin-top: 7px;
  }
}