<div class="container-fluid domain-list">
    <div class="row domain-list-title">
        <div class="col-xs-4">Marathon ID</div>
        <div class="col-xs-4">Domain</div>
        <div class="col-xs-1">Instances</div>
        <div class="col-xs-3"></div>
    </div>

    <domain-item ng-repeat="domain in domains"
                 domain-id="domain.id"
                 domain-value="domain.value"
                 domain-app="domain.app"
                 domain-action-type="domain.actionType">
    </domain-item>
</div>
